<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.andriodproject">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".retrofit2.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="33">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjfqsqEKIv19AiDOK3d7fX7gP8bAZ3ITE" />

        <activity
            android:name=".EditUserActivity"
            android:exported="false" />
        <activity
            android:name=".EditBoardActivity"
            android:exported="true"
            android:parentActivityName=".BoardActivity" />
        <activity
            android:name=".RegboardActivity"
            android:exported="true"
            android:parentActivityName=".BoardActivity" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true"
            />
        <activity
            android:name=".DetailActivity"
            android:exported="true"
            android:parentActivityName=".BoardActivity" />
        <activity
            android:name=".BoardActivity"
            android:exported="true" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".GoogleMapsActivity"
            android:exported="true"
            android:label="" />
        <activity
            android:name=".login.MyPage"
            android:exported="true" />
        <activity
            android:name=".login.Change"
            android:exported="true" />
        <activity
            android:name=".WeatherActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".CalendarActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.androidproject.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>